# FTP Configuration
FTP_HOST=16.78.67.164
FTP_PORT=2614
FTP_USER=meimoriescam
FTP_PASS=isi-password-ftp

# Database Configuration (MySQL)
DB_HOST=10.10.16.6
DB_PORT=3037
DB_NAME=if061026_meimories_sql
DB_USER=meimoriessql
DB_PASS=isi-password-mysql

# App URL
APP_URL=https://meimoriescam.zedevio.com
